<div style="background: transparent radial-gradient(closest-side at 50% 50%, #616161 0%, #202020 100%) 0% 0% no-repeat padding-box; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">

  <div style="text-align: center; width: 33%; height: 55%; background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 3px 6px #00000029; border-radius: 11px;">
    <div style="display: flex; justify-content: center; align-items: center; height: 120px; box-shadow: 0px 3px 6px #00000029; border-radius: 11px; background: #FFFFFF 0% 0% no-repeat padding-box;">
      <img
        class="h-6"
        src="../../assets/ca_logo.png"
      >
    </div>

    <div class="mt-8 mb-8">
      <p style="color: #333333; font-weight: bold; font-size: 18px !important;">Sign in to ClearAccess</p>
    </div>

    <form [formGroup]="loginForm" class="w-full flex justify-center items-center flex-wrap flex-col" (keydown)="onSubmitForm($event)">
      <mat-form-field appearance="outline" class="w-2/3">
        <mat-label>Username</mat-label>
        <input
          minlength="4"
          required
          formControlName="username"
          matInput
          autocomplete="username"
          (keydown)="onKeyDown($event)"
          class="home-mat-form-input"
        />
        <mat-error>{{ utilityService.getError(username) }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-2/3">
        <mat-label>Password</mat-label>
        <input
          minlength="4"
          maxlength="25"
          required
          formControlName="password"x
          matInput
          autocomplete="current-password"
          class="home-mat-form-input"
          (keydown)="onKeyDown($event)"
          [type]="hide ? 'password' : 'text'"
        />
        <mat-error>{{ utilityService.getError(password) }}</mat-error>
        <button class="hide-button" mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon> {{ hide ? 'visibility_off' : 'visibility' }} </mat-icon>
        </button>
      </mat-form-field>

      <button (click)="submitLogin()" style="width: 200px; height: 48px;" class="rounded-md flex justify-center items-center flex-col" mat-raised-button [disabled]="loginForm.invalid" [color]="loginForm.invalid ? 'disabled' : 'primary-color'">
        <div class="w-full flex justify-center items-center">
          <div style="font-size: 12px;">Login</div>
        </div>
      </button>

    </form>
  </div>

</div>
