<div class="flex justify-center items-center flex-col">
  <div class="flex justify-end items-start w-full">
    <svg (click)="closeDialog()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div>
      <p class="font-bold text-lg font-login-title">{{ matDialogData.title }}</p>
    </div>
    <div class="text-center flex justify-center items-center mb-2">
      <p class="w-2/3 text-xs" style="font-size: 14px;">{{ matDialogData.description }}</p>
    </div>
    <div>
      <button (click)="closeDialog()" color="primary-color-cancel" class="mr-4" style="width: 150px; height: 48px;" mat-raised-button>
        {{ matDialogData.buttonText.cancel }}
      </button>
      <button (click)="save()" color="primary-color" class="font-white" style="width: 150px; height: 48px;" mat-raised-button>
        {{ matDialogData.buttonText.confirm }}
      </button>
    </div>
  </div>
</div>
