@import '../../../scss/variables.scss';

button:hover {
  background-color: $form-style;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 -12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
