<div class="p-0 pb-1">

  <div class="mb-2">
    <div class="flex flex-row">
      <button (click)="back()" style="width: 120px; height: 48px;" class="rounded-md flex justify-center items-center flex-col mr-3" mat-raised-button color="primary-inverted">
        <div class="w-full flex justify-center items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
          </svg>
          <div cl style="font-size: 12px;">Back</div>
        </div>
      </button>
<!--      <p class="mb-0 p-0 text-xl">Promotion:</p>-->
      <p class="mb-0 p-0 flex items-center text-lg truncate overflow-hidden ml-2">{{ promoId ? 'Selected Promotion' : 'New Promotion' }}</p>
    </div>
  </div>

  <mat-divider class="pb-2"></mat-divider>

  <form [formGroup]="promoForm">

    <div class="mt-2 mb-2 w-full">
      <p class="m-0 p-0 font-bold mb-3">Promotion Details</p>

      <mat-form-field appearance="outline" appearance="outline" class="w-1/3 pr-4">
        <mat-label>Promo Code</mat-label>
        <input
          matInput
          required
          formControlName="promoCode"
          placeholder="Promo Code..."
        />
        <mat-error>{{utilityService.getError(promoCode)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/3 pr-4">
        <mat-label>Discount Price</mat-label>
        <input
          matInput
          formControlName="discountPrice"
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          placeholder="Discount Price..."
        />
        <mat-error>{{utilityService.getError(discountPrice)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/3 pr-4">
        <mat-label>Promo Offer</mat-label>
        <input
          matInput
          formControlName="promoOffer"
          type="text"
          placeholder="Promo Offer..."
        />
        <mat-error>{{utilityService.getError(promoOffer)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/3 pr-4">
        <mat-label>Promo Type</mat-label>
        <mat-select
          required
          formControlName="promoType"
          placeholder="Promo Type"
        >
          <mat-option
            *ngFor="let promoType of configData.promoTypes"
            [value]="promoType"
          >
            {{ promoType }}
          </mat-option>
        </mat-select>
        <mat-error>{{utilityService.getError(promoType)}}</mat-error>
      </mat-form-field>

    </div>

    <div>

      <mat-divider class="mb-4"></mat-divider>
      <p class="m-0 p-0 mb-2 font-bold">Services Filter</p>

      <div class="flex justify-between ml-4">

        <section class="example-section w-1/2">
        <span class="example-list-section">
          <mat-checkbox class="example-margin mb-3"
                        [checked]="allCompleteServiceTypeFilter"
                        style="height: 24px; width: 24px;"
                        [color]="serviceTypeFilter.color"
                        [indeterminate]="someCompleteServiceTypeFilter()"
                        (change)="setAllServiceTypeFilter($event.checked)">
            {{serviceTypeFilter.name}}
          </mat-checkbox>
        </span>
          <span class="example-list-section">
          <ul style="padding-left: 4px;">
            <li class="mb-3" *ngFor="let subFilter of serviceTypeFilter.subtasks">
              <mat-checkbox [(ngModel)]="subFilter.completed"
                            [color]="subFilter.color"
                            [ngModelOptions]="{standalone: true}"
                            style="height: 24px; width: 24px;"
                            (ngModelChange)="updateAllCompleteServiceTypeFilter()">
                {{subFilter.name}}
              </mat-checkbox>
            </li>
          </ul>
        </span>
        </section>

      <!--        -->

        <section class="example-section w-3/4">
        <span class="example-list-section">
          <mat-checkbox class="example-margin mb-3"
                        [checked]="allCompleteServiceProviderFilter"
                        [color]="serviceProviderFilter.color"
                        style="height: 24px; width: 24px;"
                        [indeterminate]="someCompleteServiceProviderFilter()"
                        (change)="setAllServiceProviderFilter($event.checked)">
            {{serviceProviderFilter.name}}
          </mat-checkbox>
        </span>
          <span class="example-list-section">
          <ul style="max-height: 250px; overflow-y: scroll; padding-left: 4px;">
            <li class="mb-3" *ngFor="let subFilter of serviceProviderFilter.subtasks">
              <mat-checkbox [(ngModel)]="subFilter.completed"
                            [ngModelOptions]="{standalone: true}"
                            [color]="subFilter.color"
                            style="height: 24px; width: 24px;"
                            (ngModelChange)="updateAllCompleteServiceProviderFilter()">
                {{subFilter.name}}
              </mat-checkbox>
            </li>
          </ul>
        </span>
        </section>

      </div>

    </div>

    <div>

      <mat-divider class="mb-4"></mat-divider>

      <div class="flex flex-row mb-8">
        <button (click)="populatePlans()" style="width: 200px; height: 48px;" class="rounded-md flex justify-center items-center flex-col" mat-raised-button color="primary-color">
          <div class="w-full flex justify-center items-center">
            <div style="font-size: 12px;">Populate Plans</div>
          </div>
        </button>

        <div class="flex justify-center items-center">
          <p class="m-0 p-0 ml-3 w-52">Please ensure all Service Filters above is correct before populating plans.</p>
        </div>
      </div>

    </div>



    <div>
      <p class="m-0 p-0 font-bold mb-3">Promotion Plan</p>

      <mat-form-field appearance="outline" class="w-2/3 pr-4">
        <mat-label>Select a Plan/Plans</mat-label>
        <mat-select formControlName="promoPlans" multiple>
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip
                *ngFor="let planz of promoPlans.value"
                [removable]="true"
                (removed)="onPlanRemoved(planz)"
              >
                {{ planz.title }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <ng-container *ngIf="filteredPlans && filteredPlans.length > 0">
            <mat-option
              *ngFor="let plan of filteredPlans"
              [value]="plan"
            >
              {{ plan.title }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>


      <!--      <mat-form-field appearance="outline" class="w-1/4 pr-4">-->
<!--        <mat-label>Select a Plan/Plans</mat-label>-->
<!--        <mat-select-->
<!--          required-->
<!--          [disabled]="plansPopulated && plans && plans.length > 0"-->
<!--          formControlName="promoPlans"-->
<!--          placeholder="Select a plan..."-->
<!--        >-->
<!--          <ng-container *ngIf="plansPopulated && plans && plans.length > 0">-->
<!--            <mat-option-->
<!--              *ngFor="let plans of promotion.plans"-->
<!--              [value]="promoType"-->
<!--            >-->
<!--              {{ plans.title }}-->
<!--            </mat-option>-->
<!--          </ng-container>-->
<!--        </mat-select>-->
<!--        <mat-error>{{utilityService.getError(promoPlans)}}</mat-error>-->
<!--      </mat-form-field>-->
    </div>

  </form>

  <div class="flex flex-row mb-8">

    <button (click)="confirmPromoDelete()" style="width: 200px; height: 48px;" class="rounded-md flex justify-center items-center flex-col mr-8" mat-raised-button [disabled]="!promoId" [color]="'primary-color'">
      <div class="w-full flex justify-center items-center">
        <div style="font-size: 12px;">Delete Promo</div>
      </div>
    </button>

    <button (click)="confirmPromoAdd()" style="width: 200px; height: 48px;" class="rounded-md flex justify-center items-center flex-col" mat-raised-button [disabled]="promoForm.invalid" [color]="promoForm.invalid ? 'disabled' : 'primary-color'">
      <div class="w-full flex justify-center items-center">
        <div style="font-size: 12px;">{{ promoId ? 'Save Changes' : 'Save Promo'}}</div>
      </div>
    </button>

  </div>

  <mat-divider *ngIf="promoId"></mat-divider>

</div>


