@import '../scss/variables';

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  margin-top: 75px;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav {
  transform: none !important;
  visibility: visible !important;
  background-color: $white;
}

mat-toolbar {
  height: 75px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;

}

.active-nav-item {
  background-color: $grey-tones-1;
}

mat-sidenav-content {
  overflow-y: scroll;
  max-height: calc(100% - 64px);
}

.ca-border {
  border-left: 2px solid $primary;
  height: 32px;
  widows: 2px;
}

.mat-list-base {
  padding-top: 0px !important;
}

svg {
  stroke: $primary;
}

.navigation-items {
  border-bottom: 1px solid lightgrey;
}

.navigation-items:hover {
  background-color: $table-hover;
}














