<div
  class="example-container"
>
  <mat-toolbar
    class="example-toolbar absolute top-0 left-0 z-50"
  >
<!--    <button (click)="snav.toggle()" mat-mini-fab color="primary-color" aria-label="Toggle Sidenav">-->
<!--      <mat-icon style="color: white;">menu</mat-icon>-->
<!--    </button>-->
    <div class="flex justify-center items-center flex-col">
      <img
        [routerLink]="routerLink()"
        class="cursor-pointer"
        width="200"
        [src]="'../../assets/ca_logo.png'"
      >
<!--      <div class="w-2/3 mt-4" style="border-bottom: 1px solid black"></div>-->
    </div>
    <div class="ca-border ml-4"></div>
    <h1 class="text-primary ml-4">Admin Portal</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container bg-white"
  >
    <mat-sidenav
      #snav
      [mode]="'side'"
      [style.width]="'300px'"
    >
      <mat-nav-list>
        <a [routerLink]="navMenuItem.route" [routerLinkActive]="'active-nav-item'" class="flex justify-center items-center mt-0 navigation-items" (mouseleave)="exitHoveredMode()" (mouseenter)="enterHoveredMode(navMenuItem)" mat-list-item routerLink="." *ngFor="let navMenuItem of navMenuItems">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
          </svg>
          <div style="font-size: 11px;" class="ml-2 text-primary">{{navMenuItem.name}}</div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content
      (mouseenter)="exitHoveredMode()"
      class="bg-white px-6 py-2"
      [style.marginLeft]="'300px'"
      [style.marginTop]="'10px'"
    >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
