// Include the theme mixins for other components you use here.
@use '@angular/material' as mat;

$my-app-primary: #0E89CB;
$my-app-accent: #FF666E;
$my-app-warn: #5C5C5C;

$mat-custom: (
  primary-color:  #0E89CB,
  primary-selected: #FAFAFA,
  table-default: #00000029,
  table-text: #333333,
  secondary-grey: #D8F6FF,
  secondary-black: #000000,
  grey-tones-1: #FAFAFA,
  grey-tones-2: #EBEBEB,
  grey-tones-3: #E4E4E4,
  grey-tones-4: #D0D3D4,
  grey-tones-5: #A2AAAD,
  grey-tones-6: #425563,
  disabled-text: #B9B9B9,
  disabled: #E6E6E6,
  secondary-extended-1: #FF9399,
  secondary-extended-2: #FFCACC,
  secondary-extended-3: #FF9466,
  table-hover: #D8F6FF,
  form-style: #2DC7F6,
  white: #FFFFFF,
  contrast: (
    warning :  #000000,
    success :  #FFFFFF,
    danger:    #FFFFFF,
  )
);

// Font
$poppins-font: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$poppins-font-config: mat.define-typography-config(
  $font-family: 'Poppins',
  $headline: mat.define-typography-level(32px, 48px, 700),
  $body-1: mat.define-typography-level(16px, 24px, 500)
);


// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat.core($poppins-font-config);

// Override typography for a specific Angular Material components.
@include mat.checkbox-typography($poppins-font-config);

// Override typography for all Angular Material, including mat-base-typography and all components.
// @include angular-material-typography($poppins-font);
// If you're using Material's theming, you can also pass in your typography config to the mat-core mixin:
// Override the typography in the core CSS.
@include mat.core($poppins-font-config);

// End font

$my-app-custom-theme-primary: mat.define-palette($mat-custom, custom);
// $my-app-custom-theme-accent: mat.define-palette($mat-custom-palette-accent, 700);
// $my-app-custom-theme-warn: mat.define-palette($mat-custom-palette-warn, 700);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-app-custom-theme-primary,
   accent: $my-app-custom-theme-primary,
   warn: $my-app-custom-theme-primary
 )
));

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

$my-app-theme: map_merge($my-theme, (custom: $my-app-custom-theme-primary));
// // $custom: map.get($my-app-theme, custom);
$custom: map-get($my-app-theme, custom);
