@use 'sass:map';
@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@import './app/scss/_variables.scss';
@import './app/scss/theme.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: $font;
}

.button-theme:hover {
  background-color: $form-style;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner-disabled:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1.5px solid $loading-progress;
  border-top-color: $primary;
  animation: spinner .8s linear infinite;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1.5px solid $loading-progress;
  border-top-color: $primary;
  animation: spinner .8s linear infinite;
}

.spinner-table:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  width: 36px;
  height: 36px;
  margin-top: 0px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1.5px solid $loading-progress;
  border-top-color: $primary;
  animation: spinner .8s linear infinite;
}

// List styling

ol {
  list-style: auto !important;
}

// Router outlet and all children inherit 100% width

router-outlet + * {
  width: 100%;
}

// router-outlet + * > mat-card {
//   margin-bottom: 64px;
// }

div, form > mat-form-field {
  font-size: 11px;
}

.mat-form-field-infix {
  padding: 6px !important;
  padding-bottom: 12px !important;
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick, .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline-thick {
  border-color: $primary;
  color: $primary;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $form-style;
}

.mat-primary-color {
  background-color: $primary;
  color: $white;
}

.mat-primary-cancel {
  background-color: $white;
  color: black;
}

.mat-primary-inverted {
  background-color: $white;
  border: 2px solid $primary !important;
}

.mat-primary-checkbox {
  background-color: $white;
  //border: 2px solid $primary !important;
}

mat-secondary {
  background-color: $table-default;
  color: $table-default;
}

table-text {
  color: $table-text;
}

mat-table-hover {
  background-color: $table-hover;
  color: $table-hover;
}

mat-form-style {
  background-color: $form-style;
  color: $form-style;
}

.mat-primary-color-white-text {
  background-color: $primary;
  color: $white;
}

.mat-black {
  background-color: $black;
  color: $black;
}

.mat-white {
  background-color: $white;
  color: $white;
}

.mat-selected {
  background-color: $primary-selected;
  color: $primary-selected;
}

.mat-success {
  background-color: $loading-success;
  color: $white;
}

.mat-disabled {
  background-color: $disabled;
  color: $disabled-text;
}

.mat-back {
  background-color: $white !important;
  color: $primary !important;
  border: 2px solid $primary !important;
}

.mat-back:hover {
  border: 3px solid $primary !important;
}

mat-nav-list {
  .mat-list-item-content {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

}

.mat-tab-labels {
  background-color: $primary;
}

.mat-tab-label-active {
  background-color: $primary-selected;
}

.mat-tab-label {
  box-shadow: 0px 3px 6px #00000029;
  color: $white;
  opacity: 1 !important;
}


.mat-dialog-container {
  padding: 12px !important;
  border-radius: 10px !important;
}

.kp-snackbar {
  background: transparent linear-gradient(270deg, $primary 0%, $primary 100%) 0% 0% no-repeat padding-box;
  color: $white;
}

.kp-tooltip {
  background: transparent linear-gradient(270deg, $primary 0%, $primary 100%) 0% 0% no-repeat padding-box;
  color: $white;
}

snack-bar-container {
  .mat-button-wrapper {
    color: $white;
    font-size: 12px !important;
  }

  .mat-simple-snackbar {
    font-size: 13px !important;
  }
}

.mat-chip-list-wrapper {
  max-height: 250px;
  overflow-y: scroll;
}

// .mat-primary {
//   background: mat-color(map.get($my-app-custom-theme-primary, 'primary-color')) !important;
//   background-color: mat-color(map.get($my-app-custom-theme-primary, 'primary-color')) !important;
//   color: mat-color(map.get($my-app-custom-theme-primary, 'primary-color')) !important;
// }

$primary: mat-color(map.get($my-app-custom-theme-primary, 'primary-color')) !important;

.mat-checkbox .mat-checkbox-frame {
  transform: scale(1.5);
  border: 1px solid $form-style !important;
}

.mat-checkbox-checkmark-path {
  stroke: black !important;
}

.mat-checkbox-mixedmark {
  background-color: black;
}

.mat-option-text {
  color: black !important;
}

.mat-checkbox-checked .mat-checkbox-background {
  transform: scale(1.5);
}

.mat-pseudo-checkbox.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
  border-color: rgba(0, 0, 0, 0.54) !important;
}

.mat-pseudo-checkbox-checked::after {
  border-left: 2px solid black !important;
}

.mat-pseudo-checkbox::after {
  border-bottom: 2px solid black !important;
}

.promo-list-search-form-field {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

tbody {
  box-shadow: 0px 3px 6px #00000029;
}

// .mat-table-default:not(mat-checkbox, mat-slide-toggle) {
//   background-color: mat-color($custom, table-default);
//   color: mat-color($custom, white);

//   //.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
//   //  background-color: mat-color($custom, table-default);
//   //  color: mat-color($custom, white) !important;
//   //}

//   .mat-checkbox-indeterminate.mat-table-default .mat-checkbox-background, .mat-checkbox-checked.mat-table-default .mat-checkbox-background {
//     background-color: mat-color($custom, table-default);
//   }
// }

// .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
//   // background-color: mat-color($custom, table-default);
//   background-color: rgba(#FF666E,.7);
// }

// .mat-checkbox-indeterminate.mat-table-default .mat-checkbox-background, .mat-checkbox-checked.mat-table-default .mat-checkbox-background {
//     background-color: mat-color($custom, table-default);
// }
