@import '../../../scss/variables.scss';

td, th {
  width: 25%;
}

.mat-elevation-z8 {
  box-shadow: unset !important;
}

div > table {
  box-shadow: unset !important;
}

tr.mat-header-row {
  background-color: $table-default !important;
  border-radius: 10px !important;
}

tr > th {
  color: $table-text;
  border: 0 !important;
}

tr > th:hover {
  background-color: $table-hover;
}

tr > th:first-child {
  //border-top-left-radius: 10px;
  //border-bottom-left-radius: 10px;
}

tr > th:last-child {
  //border-top-right-radius: 10px;
  //border-bottom-right-radius: 10px;
}

tr > td:first-child {
  box-shadow: 0px 3px 6px black;

}

//tr:last-child > td:first-child {
//  border-bottom-left-radius: 11px;
//}
//
//tr:last-child > td:last-child {
//  border-bottom-right-radius: 11px;
//}

td {
  text-align: center !important;
}

table {
  width: 100%;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

th.mat-header-cell {
  text-align: center !important;
}

tr.mat-row:hover {
  background-color: #F2F2F2;
}

tr > td {
  font-size: 11px;
  min-width: 100px !important;
  //max-width: 150px !important;
  color: $table-color;
}

tr {
  //box-shadow: 0px 0px 3px #00000030;

}

tr > td:first-child {
  //border-top-left-radius: 10px;
  //border-bottom-left-radius: 10px;
}

tr > td:last-child {
  //border-top-right-radius: 10px;
  //border-bottom-right-radius: 10px;
}

thead > tr {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}

thead > tr > th {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}

th {
  // border-right: 1px solid rgba(0,0,0,.12) !important;
  //border-top: 1px solid rgba(0,0,0,.12);
  //text-align: center !important;
  //background-color: $secondary-grey;
  //font-weight: 600;
  //color: white;
  //box-shadow: 0 4px 2px -2px gray;


}

th:first-child {
  //box-shadow: 0px 3px 6px #00000029;
  border-top-left-radius: 10px;
  //border-bottom-left-radius: 10px;
}

th:last-child {
  //box-shadow: 0px 3px 6px #00000029;
  border-top-right-radius: 10px;
  //border-bottom-right-radius: 10px;
}

th:first-child {
  /* border-left: 1px solid rgba(0,0,0,.12) !important; */
}

td {
  border-right: 1px solid rgba(0,0,0,.12) !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  box-shadow: 0px 3px 6px #00000029;

}

table {
  //box-shadow: 0px 3px 6px #00000029;
  box-shadow: 0px 3px 6px black;
  border-radius: 10px;
}

tbody {
  box-shadow: 0px 3px 6px #00000029 !important;
}
