<mat-card class="p-0 shadow-none">

  <div class="flex items-center w-full mb-3">
    <button (click)="addNewPromo()" style="width: 175px; height: 48px;" class="button-theme rounded-md flex justify-center items-center flex-col" mat-raised-button color="primary-color">
      <div class="w-full flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <div style="font-size: 12px;">Add Promo Code</div>
      </div>
    </button>

    <div class="flex justify-end items-center w-full">
      <mat-form-field class="promo-list-search-form-field w-1/2" appearance="outline">
        <mat-label>Search current page</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ominsure" #input>
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table class="w-full" mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row" class="truncate overflow-hidden text-xs max-w-50"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="promoCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Promo Code </th>
        <td mat-cell *matCellDef="let row" class="truncate overflow-hidden text-xs max-w-50"> {{row.promoCode}} </td>
      </ng-container>

      <ng-container matColumnDef="internetPlan">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Internet Plan </th>
        <td mat-cell *matCellDef="let row" class="truncate overflow-hidden text-xs max-w-50"> {{row.internetPlan}} </td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width]="!promoList || (promoList && promoList.length === 0) ? '200px' : ''"> Date Created </th>
        <td mat-cell *matCellDef="let row" class="truncate overflow-hidden text-xs max-w-50"> {{row.dateCreated}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row" class="truncate overflow-hidden text-xs max-w-50"> {{row.status}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button (click)="navigateToPromo(row)" mat-mini-fab [matTooltip]="'View Promo ' + row.id" class="w-8 h-8 p-2 cursor-pointer bg-primary rounded-md flex justify-center items-center m-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <!-- Row shown when there is no matching data. -->
    <div class="mat-row">
      <p *ngIf="promoList && promoList.length === 0">No data matching for given filters</p>
      <p *ngIf="!promoList" [class.spinner-table]="!promoList"></p>
    </div>


    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="setPageSizeOptions($event)"
      [length]="totalElements"
      [pageSize]="limit"
      showFirstLastButtons
      aria-label="Select page of Promos"
    ></mat-paginator>
  </div>

</mat-card>
